:root {
  --font-logo: Domine;
  --color-primary: black;
  --color-secondary: white;
  --color-tertiary: #ffd700;
  --color-button: #ffd700;
  --color-button-text: var(--color-text);
  --color-border: #eee;
  --color-secondary-transparent: rgb(32, 20, 45, 0);
  --color-dialog: #ffffff;

  --color-shadow: rgba(255, 217, 0, 0.5);
  --color-shadow-light: rgba(255, 217, 0, 0.2);
  --color-text: rgb(48, 41, 0);
  --color-dialog-text: rgb(109, 92, 0);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: max-content;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  color: var(--color-text);
  font-smooth: always;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  overscroll-behavior: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background: transparent;
  font-family: var(--font-primary);
  -webkit-overflow-scrolling: auto;
  overflow: scroll;
  font-size: 14px;
  height: 100%;
  margin: #{env(safe-area-inset-top)} #{env(safe-area-inset-right)} #{env(
      safe-area-inset-bottom
    )} #{env(safe-area-inset-left)} !important;
  user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}

@media only print {
  body {
    background: none;
  }
}

#__next {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  flex: 1 1 auto;
}

.youtube {
  border-radius: 1em;
  overflow: hidden;
  transform: translateY(0px);
  box-shadow: 0 6px 12px var(--color-shadow);
  background: var(--color-text);

  > div {
    position: relative;
  }

  margin: 0 auto;

  & + * {
    margin-top: 4em;
  }

  &.youtube-portrait {
    max-width: 300px;

    > div {
      padding-bottom: 177.77%;
    }
  }

  &.youtube-square {
    > div {
      padding-bottom: 100%;
    }
  }

  &.youtube-landscape {
    > div {
      padding-bottom: 56.25%;
    }
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media print {
  .youtube {
    display: none;
  }

  .omnisend-dynamic-container {
    display: none;
  }
}

@page {
  size: auto;
  margin: 5mm;
}

.omnisend-form-643dd72605dee204569975c1-teaser a {
  user-select: none;
  -webkit-user-drag: none;
  position: relative;
  font-weight: bold;
  transition: all 250ms ease-in-out;
  background-color: var(--color-button) !important;
  border-color: var(--color-button) !important;
  &:hover {
    box-shadow: 0 5px 10px 0 var(--color-shadow);
    transform: translateY(-1px);
  }

  &:active {
    box-shadow: none;
    transform: translateY(1px);
  }
}

@media only print {
  .omnisend-form-643dd72605dee204569975c1-teaser {
    display: none !important;
  }
}
