.root {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  flex: 1 1 auto;
}

// noscript {
//   display: none;
// }

// .noscript {
//   noscript {
//     display: block;
//   }
// }
